<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenbi.mvctest.mapper.CourseTypeMapper">
<select id="selectAll" resultType="com.fenbi.mvctest.entity.CourseType">
select * from fb_course_type
</select>
</mapper>